<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/mvc
 http://www.springframework.org/schema/mvc/spring-mvc.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.ming">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:property-placeholder ignore-unresolvable="true" location="classpath:configuration.properties" />

<!--    &lt;!&ndash;配置视图解析器&ndash;&gt;-->
<!--        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--            <property name="prefix" value="${web.view.prefix}"></property>-->
<!--            <property name="suffix" value="${web.view.suffix}"></property>-->
<!--        </bean>-->
    <!--开启注解-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 使用thymeleaf解析 -->
    <bean id="templateResolver"
          class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="${web.view.prefix}" />
        <property name="suffix" value="${web.view.suffix}" />
        <property name="templateMode" value="HTML5" />
        <property name="order" value="1"/>
        <property name="cacheable" value="false" />
        <property name="characterEncoding" value="UTF-8"/><!--不加会乱码-->
    </bean>
    <!-- 定义无Controller的path<->view直接映射 -->
    <mvc:view-controller path="/" view-name="redirect:${web.view.index}"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="${adminPath}**" />
<!--            <mvc:exclude-mapping path="${adminPath}" />-->
            <mvc:exclude-mapping path="${adminPath}/login"/>
            <bean class="com.ming.filter.LogInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="templateEngine"
          class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
    </bean>

    <bean  id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <!--解决中文乱码-->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <mvc:default-servlet-handler />

</beans>